<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<img th:src="@{/images/hobby-gif.gif}"/>

<form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Имя пользователя: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Пароль: </label>
    <input type="password" name="password"/><br/>

    <label for="confirm">Повторите пароль: </label>
    <input type="password" name="confirm"/><br/>

    <label for="fullname">Полное имя: </label>
    <input type="text" name="fullname"/><br/>

    <label for="street">Улица: </label>
    <input type="text" name="street"/><br/>

    <label for="city">Город: </label>
    <input type="text" name="city"/><br/>

    <label for="phone">Телефон: </label>
    <input type="text" name="phone"/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>