<!-- tag::all[] -->
<!-- tag::head[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Увлечения</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Опросики :)</h1>
<img th:src="@{/img/hobbie.jpg}"/>

<!-- tag::formTag[] -->
<form method="POST" th:object="${design}">
  <!-- end::all[] -->

  <span class="validationError"
        th:if="${#fields.hasErrors('hobbies')}"
        th:errors="*{hobbies}">Ingredient Error</span>

  <!-- tag::all[] -->
  <div class="grid">
    <!-- end::formTag[] -->
    <!-- end::head[] -->


    <div class="ingredient-group" id="kind">
      <h3>Какое вид хобби предпочитаете:</h3>
      <div th:each="hobby : ${kind}">
        <input name="hobbies" type="checkbox" th:value="${hobby.id}" />
        <span th:text="${hobby.name}">HOBBY</span><br/>
      </div>
    </div>

    <div class="ingredient-group" id="busyness">
      <h3>Сколько времени хотели б уделять:</h3>
      <div th:each="hobby : ${busyness}">
        <input name="hobbies" type="checkbox" th:value="${hobby.id}" />
        <span th:text="${hobby.name}">HOBBY</span><br/>
      </div>
    </div>

    <div class="ingredient-group" id="suppose_start_time">
      <h3>Когда планируете начать заниматься:</h3>
      <div th:each="hobby : ${suppose_start_time}">
        <input name="hobbies" type="checkbox" th:value="${hobby.id}" />
        <span th:text="${hobby.name}">HOBBY</span><br/>
      </div>
    </div>

  </div>

  <div>


    <h3>Ваш псевдоним:</h3>
    <input type="text" th:field="*{name}"/>
    <!-- end::all[] -->
    <span th:text="${#fields.hasErrors('name')}">XXX</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <!-- tag::all[] -->
    <br/>

    <button>Подтвердить и перейти к получению подарка</button>
  </div>
  <!-- tag::closeFormTag[] -->
</form>
<!-- end::closeFormTag[] -->
</body>
</html>
<!-- end::all[] -->
